@media (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding-left: 5px;
        padding-right: 5px;
    }
        .logo {
            width: 52px;
            height: 60px;;
            background: url("logaster/1small.png") no-repeat;
            background-size: 100% 100%;
        }
        .form-group {
            margin: 15px;
            display: inline-block;
            width: 100%;
        }
            .form-control {
                color: #556666;
                width: 80%;
                display: inline-block;
                height: 30px;
                font-size: 16px;
                border-radius: 0 4px 4px 0;
            }
                .user-data {
                    display: none;
                    height: 40px;
                    width: auto;
                    margin: 5px;
                }

}