body{
    font-family: "cherry swash";
}
button:focus {
    outline: none;
}

.navbar {
    margin-bottom: 0;
    border: 0;
}

.navbar-inverse {
    color: white;
    background: linear-gradient(#00bbff, #2299bb 70%);
    border: none;
    box-shadow: 0px 2px 3px rgba(17,100,255,0.5);
}
        .logo {
            width: 190px;
            height: 60px;
            background: url("logaster/1.png") no-repeat;
            background-size: 100% 100%;
        }
            .logo-link {
                display: block;
                width: 100%;
                height: 100%;
            }
        .form-group {
            margin: 15px;
            display: inline-block;
            width: 100%;
        }
            .icon-search {
                float: left;
                display: inline-block;
                height: 30px;
                width: 30px;
                background: #ffffff url("logaster/search.png") center no-repeat;
                background-size: 20px 20px;

                border-radius: 4px 0 0 4px;
                border: 1px solid #cccccc;
                border-collapse: collapse;
                color: white;
            }
            .icon-search:active {
                box-shadow: inset 0px 0px 20px 0px rgba(133,133,133,0.5);

            }
            .form-control {
                color: #556666;
                width: 85%;
                display: inline-block;
                height: 30px;
                font-size: 16px;
                border-radius: 0 4px 4px 0;
            }
            .line-search {
                color: #555555;
            }
            .line-search::-moz-placeholder,
            .line-search::-webkit-input-placeholder,
            .line-search:-ms-input-placeholder {
                color: #aaaaaa;
            }
        .user-avatar {
            height: 60px;
            float: right;
            position: relative;
            right: 5px;
        }
            .avatar-menu {
                display: none;
            }
            .button-drop-menu {
                display: none;
            }
            .avatar {
                float: left;
                display: inline-block;
                height: 40px;
                width: 40px;
                background: #ffffff url("logaster/avatar.jpg") no-repeat;
                background-size: 40px 40px;
                margin: 10px 0;
                border-radius: 50%;
            }
            .user-data {
                display: inline-block;
                height: 40px;
                width: auto;
                margin: 5px;

            }
                .user-data p {
                    font-size: 20px;
                    margin: 0;
                }
                .user-setting {}
                    .user-setting-button {
                        height: 20px;
                        width: 50px;
                        padding: 0;
                        border-radius: 4px;
                        background: linear-gradient(#35f535 30%, #32c732 100%);
                        color: white;
                        font-size: 12px;
                        border: none;
                    }
                .user-setting-button:active {
                    box-shadow: inset 0px 0px 20px 0px rgba(133,133,133,0.5);
                    transform: translate(0px,1px);
                }
.drop-menu {
    display: none;
}
section {
    display: none;
}
/***************************************************************************************************************/
dialog {
        width: 500px;
        z-index: 10000;
    }
dialog::backdrop {
        background-color: rgba(0,0,0,0.7) !important;
    }


/***************************************************************************************************************/
main {

    flex: 1;
    margin-bottom: 30px;
}


.p-tags{
	height: 20%;
	border-bottom: 1px solid #d3d3d3;
	display: flex;
	background:linear-gradient(#00bbff,#2299bb 70%);
	color:#fff;
}

.content-list {
	padding: 0;
	margin:0;
	height: 80%;
}
.content-list li {
	list-style: none;
	display: block;
	height: 20%;
	border-bottom:1px solid #d3d3d3;
}

.content-list li a {
	display: flex;
	justify-content: center;
	align-items: center;
	height:100%;
	
	}

.content-list li a:hover {
	background-color: #00bbff /*#fafafa*/;
	color: #fff;
	opacity: 0.5;
	text-decoration: none;
}

.aside-top {
	height: 200px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 0 7px #d3d3d3;
    border-radius: 4px;
	background-color: #fff;
	margin-top: 20px;
}
.aside-bottom {
	height: 200px;
	border: 1px solid #d3d3d3;
	box-shadow: 0 0 7px #d3d3d3;
    border-radius: 4px;
	background-color: #fff;
	margin-top: 20px;
}


.centring {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
    width: 100%;
	padding-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.q-form {
	width: 100%;
	background-color: #fff;
	border: 0px solid #808080;
	border-radius: 4px;
	margin-bottom: 30px;
	box-shadow: 0 0 7px #696969;
}

.q-form:last-of-type {
	margin-bottom: 0px;
}

.q-form-article {
	padding: 10px;
	padding-left: 2%;
	border-bottom: 1px solid #edeef0;
	background:linear-gradient(#79A0C1,#708090 70%);
	color:#fff;
    border-radius: 4px 4px 0 0;
}

.q-form-article p {
	font-size: 1.3em;
	margin: 0;
}

.q-form-content {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-top: 2%;
    font-size: 18px;

    
}

.q-form-footer {
	height: 40px;
	display: flex;
	border-top: 1px solid #edeef0;
}

.q-form-footer div{
	width: 33.33%;
	height: 100%;
	border-right: 1px solid #edeef0;
}

.q-form-footer div:last-of-type {
    border-right: none;
}

.form-author {
	
}

.form-date {
	
}

.form-like:hover {
	background-color: #00bbff ;
    opacity: 0.5;
	color: #fff
}

/***** Hot - questions*/

.blog-header {
	border: 1px solid #d3d3d3;
	box-shadow: 0 0 7px #d3d3d3;
	border-radius: 4px;
	width: 90%;
	margin-bottom: 15px;
	height: 60px;
	display: flex;
	background-color: #fff;
}

.blog-header a {
	text-decoration: none;
	color: #000;
}

.blog-header a:hover {
	background-color: #00bbff /*#fafafa*/;
	color: #fff;
	opacity: 0.5;
}

.blog-header-h {
	border-right: 1px solid #edeef0; 
	width: 50%
	
}
.popular-article {
	width: 50%
}

.active-question {
    background-color: #00bbff /*#fafafa*/;
    color: #fff;
}

/***************************************************************/
body {
  margin: 0;
  background-color: #edeef0;

}

.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/*******footer*************/
.footer {
   height: 60px;
  background: linear-gradient(#00bbff,#2299bb 70%);
  color: #fff;
  box-shadow: 0px -2px 3px rgba(17,100,255,0.5);

}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer-inc {
    display: flex;
    height: 60px;
    align-items: center;
}

.footer-inc span {
    display: block;
}

.footer-logo {
    display: flex;
    justify-content: space-around;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-social-1 {
    display: block;
    width: 75px;
    margin-top: 3px;
}

.footer-social-1 img {
    width: 25px;
}

